doctype html
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' href='/favicon.ico')
    meta(property='og:url' content='https://eol.bar')
    meta(property='og:type' content='website')
    meta(property='og:title' content='Display EoL schedule')
    meta(property='og:description' content='When your project depends on other product, you must care when to update those dependencies. eol.bar provides a schedule of end-of-life dates of various products graphically.')
    meta(property='og:site_name' content='eol.bar')
    title eol.bar
    link(rel='canonical' href='https://eol.bar')
    link(rel='stylesheet' href='/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    script!= `products = ${JSON.stringify(products)}`
    script(type='application/javascript' src='/main.js')
  body
    .bg-main
      .container.navbar
        h1 eol.bar
          small @#{version}
        a(href='https://github.com/rikuson/eol.bar' target='_blank')
          i.fab.fa-github
    section.container
      a(href='https://github.com/rikuson/eol.bar')
        img(src='https://img.shields.io/github/stars/rikuson/eol.bar?style=social')
      img#preview
      section
        #period
          input#from(type='date')
          | -
          input#to(type='date')
        datalist#products
          each product in products
            option= product.name
        .expression
          input.product(type='text' style='width: 100%;' autocomplete='on' list='products' value=products[0].name)
          select.operator
            option
            option =
            option(value='<') &lt;
            option(value='<=') &le;
            option(value='>') &gt;
            option(value='>=') &ge;
          input.cycle(type='text' style='width: 100%;' autocomplete='on' disabled)
          datalist
          span.btn-group
            button.add(type='button') +
            button.remove(type='button' disabled) -
        .tab
          a.tab-item.active(href='#html') HTML
          a.tab-item(href='#markdown') Markdown
          a.tab-item(href='#curl') curl
        .tab-content
          textarea#html.active(readonly)
          textarea#markdown(readonly)
          textarea#curl(readonly)
      section
        h2 Supported products
        ul.products
          each product in products
            li
              a(href=`/${product.name}.svg`)= product.name
